/*-- Tablet --*/

@media (min-width: $tablet-width) {}

/*-- Desktop --*/

@media (min-width: $desktop-width) {

  .button--scroll {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    color: $button--scroll-color;
    background-color: $button--scroll-bg;
    &:hover {
      box-shadow: 0px 2px 4.75px 0.25px $button--scroll-shadow;
    }
  }

}

