.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  align-items: flex-start;
  justify-content: space-between;
}

.main-nav__logo {
  padding-top: 6px;
  padding-left: 20px;
}

.main-nav__toggle-button {
  border: none;
  cursor: pointer;
  background: none;
  line-height: 0;
  font-size: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 18px;
  min-height: 16px;
}

.main-nav__logo-image {
  display: block;
  margin: 0 auto;
}

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -160px;
  width: 100%;
  .main-nav__toggle:checked ~ & {
    display: block;
  }
}

.main-nav__link {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 39px;
  text-align: center;
  min-height: 39px;
  color: $main-nav__link-color;
  background-color: $main-nav__link-bg;
  border-top: solid 1px $main-nav__link-border;
}

.main-nav__link--desktop {
  display: none;
}

.main-nav__phone {
  display: none;
}

.main-nav__feedback {
  display: none;
}

/*-- Tablet --*/

@media (min-width: $tablet-width) {
  
  .main-nav {
    padding-left: 64px;
    padding-right: 64px;
    justify-content: flex-start;
  }
  
  .main-nav__logo {
    padding-top: 8px;
    padding-left: 0;
  }
  
  .main-nav__toggle-button {
    width: 26px;
    min-height: 21px;
    padding-bottom: 14px; 
  }
  
  .main-nav__toggle-button--top {
    margin-left: 19px;
  }
  
  .main-nav__phone {
    display: block;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    word-spacing: -2px;
  }
  
  .main-nav__phone--top {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .main-nav__list {
    left: 0;
    width: 207px;
  }
  
}
