.page-footer {
  position: relative;
  background-color: $page-footer-mobile-bg;
  color: $page-footer;
}

.page-footer__contacts {
  color: $grey-low;
  margin-bottom: 16px;
}

.page-footer__item--address {
  line-height: 29px;
  margin-bottom: 17px;
}

.page-footer__item--email {
  margin-bottom: 25px;
}

.page-footer__number {
  color: $page-footer__number;
}

.page-footer__email {
  color: $page-footer__email;
}

.page-footer__number--sign {
  color: $page-footer__number--sign;
  opacity: 1;
}

.page-footer__company {
  display: none;
}

/*-- Tablet --*/

@media (min-width: $tablet-width) {

  .page-footer {
    background-color: $page-footer-bg;
    border-top: 2px solid $page-footer-border;
    display: flex;
    flex-wrap: wrap;
    padding-left: 65px;
    padding-top: 8px;

    &::after {
      position: absolute;
      content: "";
      width: 640px;
      height: 1px;
      background-color: $page-footer-line;
      opacity: 0.1;

      bottom: 75px;
    }
  }

  .page-footer__feedback {
    position: absolute;
    width: 413px;
    left: 65px;
    top: -118px;
    z-index: 10;
    padding-bottom: 38px;
  }

  .page-footer__contacts {
    order: 1;
    margin-left: 430px;
    margin-right: auto;
    margin-bottom: 65px;
  }

  .page-footer__item--address {
    margin-bottom: 42px;
  }

  .page-footer__item--email {
    margin-bottom: 42px;
  }

  .page-footer__navigation {
    order: 3;
  }

  .page-footer__social {
    order: 4;
  }

  .page-footer__copyright {
    order: 5;
    width: 100%;
  }

}

/*-- Desktop --*/

@media (min-width: $desktop-width) {}
