.page-footer {
  background-color: $page-footer-mobile-bg;
  color: $page-footer;
}

.page-footer__container {
  position: relative;
}

.page-footer__contacts {
  margin-bottom: 16px;
}

.page-footer__item--address {
  line-height: 29px;
  margin-bottom: 17px;
}

.page-footer__item--email {
  margin-bottom: 25px;
}

.page-footer__number--sign {
  opacity: 1;
}

.page-footer__social {
  margin-bottom: 46px;
}

/*-- Tablet --*/

@media (min-width: $tablet-width) {

  .page-footer__container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 680px;
    margin: 0 auto;
    padding-left: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 640px;
      height: 1px;
      background-color: $page-footer-line;
      opacity: 0.1;

      bottom: 75px;
    }
  }

  .page-footer {
    background-color: $page-footer-bg;
    border-top: 2px solid $page-footer-border;
  }

  .page-footer__feedback {
    position: absolute;
    width: 413px;
    left: 30px;
    top: -118px;
    z-index: 10;
    padding-bottom: 38px;
  }

  .page-footer__contacts {
    order: 1;
    margin-left: 430px;
    margin-right: auto;
    margin-bottom: 65px;
  }

  .page-footer__item--address {
    margin-bottom: 42px;
  }

  .page-footer__item--email {
    margin-bottom: 42px;
  }

  .page-footer__navigation {
    order: 2;
  }

  .page-footer__social {
    order: 3;
  }

  .page-footer__copyright {
    order: 4;
    width: 100%;
  }

}

/*-- Desktop --*/

@media (min-width: $desktop-width) {

  .page-footer {
    flex-direction: column;
  }

  .page-footer__container {
    width: 1200px;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
    max-height: 530px;

    &::after {
      display: none;
    }
  }

  .page-footer__feedback {
    width: 580px;
    top: -185px;
    left: 50%;
    transform: translateX(-290px);
  }

  .page-footer__contacts {
    margin-left: 0;
    margin-right: 0;
    order: 4;
  }

  .page-footer__item--email {
    margin-bottom: 30px;
  }

  .page-footer__navigation {
    order: 1;
  }

  .page-footer__social {
    order: 2;
  }

  .page-footer__copyright {
    order: 3;
    margin-top: 467px;
  }


}
