.page-main {
  position: relative;
}

.page-main__background {
  background-color: $page-main__background;
  position: absolute;
  width: 100%;
  min-height: 465px;
  z-index: -1;
}

.page-main__image {
  display: block;
  margin: 0 auto;
}

/*-- Tablet --*/

@media (min-width: $tablet-width) {

  .page-main__background {
    min-height: 600px;
  }

  .page-main__image {
    width: 768px;
    height: 600px;
  }
}

/*-- Desktop --*/

@media (min-width: $desktop-width) {}
