.projects {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 46px;
}

.projects__title {
  padding-left: 0;
}

.projects__list {
  margin: 0;
  padding: 0;
}

.projects__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
}

.projects__item--futur {
  background-image: url("../img/project-futur-mobile.jpg");
}

.projects__item--halo {
  background-image: url("../img/project-halo-mobile.jpg");
}

.projects__item--family {
  background-image: url("../img/project-family-mobile.jpg");
}

.projects__item--medial {
  background-image: url("../img/project-medial-mobile.jpg");
}

.projects__item--energy {
  background-image: url("../img/project-energy-mobile.jpg");
}

.projects__item--pinocchio {
  background-image: url("../img/project-pinocchio-mobile.jpg");
}

.projects__caption {
  font-family: $caption-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: $projects__caption;
}

.projects__text {
  display: none;
}

.projects__arrow {
  display: none;
}


/*-- Tablet --*/

@media (min-width: $tablet-width) {

  .projects {
    padding: 0;
  }

  .projects__title {
    margin-bottom: 45px;
  }

  .projects__item {
    justify-content: flex-start;
    box-sizing: border-box;
    min-height: 180px;
    padding-top: 32px;
    padding-left: 44px;
    padding-right: 110px;
    margin-bottom: 10px;
  }

  .projects__item--futur {
    background-image: url("../img/project-futur-tablet.jpg");
  }

  .projects__item--halo {
    background-image: url("../img/project-halo-tablet.jpg");
    padding-top: 30px;

    & .projects__caption {
      margin-bottom: 5px;
    }
  }

  .projects__item--family {
    background-image: url("../img/project-family-tablet.jpg");
    padding-top: 23px;
    padding-right: 200px;

    & .projects__caption {
      margin-bottom: 3px;
    }
  }

  .projects__item--medial {
    background-image: url("../img/project-medial-tablet.jpg");
    padding-top: 20px;
    padding-right: 150px;

    & .projects__caption {
      margin-bottom: 3px;
    }
  }

  .projects__item--energy {
    background-image: url("../img/project-energy-tablet.jpg");
  }

  .projects__item--pinocchio {
    background-image: url("../img/project-pinocchio-tablet.jpg");
    padding-right: 50px;
  }

  .projects__caption {
    font-family: $default-font;
    margin: 0;
    font-size: 24px;
    text-align: left;
  }

  .projects__text {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    display: block;
    color: $projects__text;
    opacity: 0.65;
  }

  .projects__text--hide {
    display: none;
  }

}

/*-- Desktop --*/

@media (min-width: $desktop-width) {

  .projects__title {
    margin-bottom: 35px;
  }

  .projects__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .projects__item {
    position: relative;
    width: 290px;
    min-height: 290px;
    margin-bottom: 3px;
    padding-top: 53px;
    padding-left: 29px;
    padding-right: 25px;
  }

  .projects__item:nth-child(4n + 6),
  .projects__item:nth-child(4n + 5) {

    width: 583px;
    padding-top: 41px;
    padding-right: 100px;

    & .projects__caption {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 31px;
    }

    &.projects__item--pinocchio {
      padding-right: 70px;
    }
  }

  .projects__item--futur {
    background-image: url("../img/project-futur-desktop.jpg");
  }

  .projects__item--halo {
    background-image: url("../img/project-halo-desktop.jpg");
    padding-top: 53px;
    padding-right: 10px;

    & .projects__caption {
      margin-bottom: 24px;
    }
  }

  .projects__item--family {
    background-image: url("../img/project-family-desktop.jpg");
    padding-top: 53px;
    padding-right: 20px;

    & .projects__caption {
      margin-bottom: 24px;
    }
  }

  .projects__item--medial {
    background-image: url("../img/project-medial-desktop.jpg");
    padding-top: 53px;
    padding-right: 15px;

    & .projects__caption {
      margin-bottom: 45px;
    }
  }

  .projects__item--energy {
    background-image: url("../img/project-energy-desktop.jpg");
  }

  .projects__item--pinocchio {
    background-image: url("../img/project-pinocchio-desktop.jpg");
  }

  .projects__caption {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
    margin-bottom: 47px;
  }

  .projects__text {
    font-size: 15px;
    line-height: 22px;
  }

  .projects__text--hide {
    display: inline;
  }

  .projects__arrow {
    display: block;
    box-sizing: border-box;
    height: 34px;
    width: 46px;
    border: 2px solid $projects__arrow;
    opacity: 0.34;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 10px;
    bottom: 10px;

    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 2px;
      background-color: $projects__arrow;
      top: 14px;
      left: 13px;
    }

    &::after {
      position: absolute;
      content: "";
      right: 10px;
      top: 12px;
      border: 3px solid transparent;
      border-left: 5px solid $projects__arrow;
    }

    &:hover {
      background-color: $projects__arrow-hover;
      opacity: 1;
      border-color: $projects__arrow-hover;
    }

    &:hover::before {
      background-color: $projects__arrow-hover-bg;
    }

    &:hover::after {
      border-left-color: $projects__arrow-hover-bg;
    }
  }
}
