$default-font: "Roboto", "Arial", sans-serif;
$caption-font: "Raleway", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;

/*-- colors --*/

$mint: #00ffd8;
$mint-light: #b2fff3;
$mint-white: #00ffd8;
$mint-dot: #00f7d0;
$mint-dark: #41cdb8;


$white: #ffffff;
$white-light: #fffffe;
$white-grey: #fefdff;
$white-dark: #fbfbfb;

$grey-hole: #626262;
$grey-black: #303030;
$grey-dark: #4c4c4c;
$grey-highest: #333333;
$grey-hight: #707070;
$grey-shark: #aeadad;
$grey: #959595;
$grey-dust: #e1e1e1;
$grey-low: #666666;
$grey-lowest: #545454;
$grey-down: #8d8d8d;
$grey-simple: #b5b5b5;
$grey-light: #dddddd;
$grey-lighter: #e8e8e8;
$grey-white: #f4f4f4;

$black: #000000;
$black-dark: #1a1a1a;
$black-grey: #1c1c1c;