$default-font: "Roboto",
"Arial",
sans-serif;
$caption-font: "Raleway",
"Arial",
sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;

/*-- colors --*/

$mint: #00ffd8;
$mint-light: #b2fff3;
$mint-white: #00ffd8;
$mint-dot: #00f7d0;
$mint-dark: #41cdb8;


$white: #ffffff;
$white-light: #fffffe;
$white-grey: #fefdff;
$white-dark: #fbfbfb;

$grey-hole: #626262;
$grey-black: #303030;
$grey-dark: #4c4c4c;
$grey-highest: #333333;
$grey-gloomy: #383838;
$grey-hight: #707070;
$grey-shark: #aeadad;
$grey-dirt: #adadad;
$grey: #959595;
$grey-dust: #e1e1e1;
$grey-low: #666666;
$grey-lowest: #545454;
$grey-down: #8d8d8d;
$grey-simple: #b5b5b5;
$grey-hot: #e7e7e7;
$grey-light: #dddddd;
$grey-lighter: #e8e8e8;
$grey-white: #f4f4f4;

$black: #000000;
$black-dark: #1a1a1a;
$black-amber: #222222;
$black-grey: #1c1c1c;

/*-- body variables --*/
$body-color: $black;
$body-bg: $white;

/*-- page-header variables --*/
$page-header-bg: $white-dark;

/*-- main-nav variables --*/
$main-nav__link-border: $grey-light;
$main-nav__link-bg: $grey-hot;
$main-nav__link-color: $grey-gloomy;
$main-nav__link-desktop-color: $grey-hight;
$main-nav__link-desktop-color-hover: $black;
$main-nav__phone-color: $black-amber;

/*-- toggle variables --*/
$toggle__line-bg: $grey;
$toggle__line-border: $grey-dirt;

/*-- button variables --*/
$button--scroll-bg: $mint-white;
$button--scroll-shadow: $mint-white;
$button--scroll-color: $black;
$button--scroll__contacts-border: $mint-white;
$button--scroll__contacts-color: $white;

/*-- title variables --*/
$title-color: $white;

/*-- page-main variables --*/
$page-main__background: $grey-black;

/*-- main-banner variables --*/
$main-banner__year-color: $mint-white;
$main-banner__year--built-color: $black;
$main-banner__year--built-tablet-color: $mint-white;
$main-banner__background-bg: $black;
$main-banner__text-tablet-color: $white;

/*-- features variables --*/
$features__item-border: $grey-light;
$features__item-active-bg: $white;
$features__item-desktop: $white;
$features-control__item-bg: $grey-light;
$features-control__item-active-bg: $mint-white;

/*-- features variables --*/
$services__title: $black;
$services__title-after-bg: $black;
$services__item-arrow: $grey-shark;
$services__item-arrow-active: $black;
$services__item-active: $mint-white;
$services__item-tablet-bg: $grey-white;
$services__chapter-bg: $grey-white;
$services__chapter--active-bg: $grey-hot;
$services__subitem-mobile-bg: $white;
$services__subitem-border: $grey-lighter;
$services__subitem-active-border: $mint-white;
